body {
    background-color: #bde0ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    line-height: 23px;
    margin: 0;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-color:darkcyan;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-right: 20px;
}

.page-header {
    background-color: #193d70d2;
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid black;
    position: relative;
}

main {
    padding-top: 40px;
}

.login {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    padding: 15px;
    border: 1px solid black;
    background-color: rgb(163, 0, 0);
    color: white;
    border-radius: 20px;
    font-size: 22px;
}

.login:hover {
    text-decoration: none;
    opacity: 0.7;
}
.login:active {
    opacity: 0.5;
}

 .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: aliceblue;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50%;
}

.cart img {
    width: 50px;
    height: 50px;
}

.cart:hover {
    opacity: 0.7;
}

.cart:active {
    opacity: 0.5;
}

.main-nav{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.nav-list{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 30px;
    line-height: 30px;
    padding: 10px 40px;
    width: 700px;
    justify-content: space-between;
    background-color: #bde0ff;
}

.nav-item {
    padding: 10px;
}
main {
    /*background-image: url("../../public/img/background.jpg");*/
    background-attachment: fixed;
    padding-bottom: 20px;
}
h2 {
    margin: 0;
}

.genre {
    width: 1400px;
    margin: 0 auto;
    padding: 40px;
    border: 2px solid black;
    margin-bottom: 40px;
    background-color: white;
    /*border-radius: 10px;*/
}

.genre:last-child {
    margin-bottom: 0;
}

.genre .genre-name {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
    line-height: 35px;
    font-size: 2em;
    letter-spacing: 1px;
}

.disc-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 50px;
}

.disc-item {
    width: 250px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
    border-radius: 20px;
}

.about-disc-link{
    margin-bottom: 20px;
}

.about-disc-link:hover {
    opacity: 0.7;
}

.about-disc-link:active {
    opacity: 0.5;
}

.disc-item .disc-name {
    margin: 0;
    display: block;
    height: 70px;
    margin-bottom: 10px;
}

.disc-item .price {
    margin: 0;
    line-height: 40px;
    font-size: 24px;
    margin-bottom: 5px;
}

.disc-item .price-title {
    margin-right: 20px;
    font-weight: bold;
}

.disc-item .to-cart {
    box-sizing: content-box;
    width: 100px;
    height: 30px;
    font-weight: 40px;
    font-size: 18px;
    padding: 5px 10px;
    background-color:dimgray;
    color: white;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: none;
}


.disc-item .to-cart:hover {
    opacity: 0.7;
    cursor:pointer;
    box-shadow: none;
}

.disc-item .to-cart:active {
    opacity: 0.5;
    box-shadow: none;
}

.more-genre {
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: larger;
}

.more-genre:hover {
    opacity: 0.7;
}

.more-genre:active {
    opacity: 0.5;
}

.cart-pushup {
    width: 450px;
    background-color: white;
    padding: 20px;
    border: 2px solid darkgray;
    max-height: 300px;
    overflow:hidden; 
    overflow-y:scroll;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
}
.cart-pushup p {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.cart-pushup::-webkit-scrollbar {
    width: 7px;               /* ширина scrollbar */
}
.cart-pushup::-webkit-scrollbar-thumb {   /* цвет плашки */
border-radius: 10px;       /* закругления плашки */
border: 2px solid black;  /* padding вокруг плашки */
}

.cart-pushup ul{
    margin-bottom: 10px;
    display:  grid;
    gap: 5px;
}

.cart-pushup li {
    display: flex;
    justify-content: space-between;
    border: 2px solid darkgray;
    padding: 5px;
}

.cart-pushup ul button{
    align-self: center;
    padding: 3px;
}

.hidden {
    display: none;
}