<!DOCTYPE html>
<html>

<head>
    <title>Магазин музыки</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <header class="page-header">
        <a href="#"><img src="img/logo.svg" alt="Логотип магазина" class="logo" width="70" height="70"></a>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Главная</a></li>
                <li class="nav-item"><a href="#">Поиск</a></li>
                <li class="nav-item"><a href="#">Детям</a></li>
                <li class="nav-item"><a href="#">Аудиокниги</a></li>
                <li class="nav-item"><a href="#">О нас</a></li>
            </ul>
        </nav>
        <a href="#" class="cart"><img src="img/cart.svg" alt="Корзина"></a>
        <a href="#" class="login">Войти</a>
    </header>
    <main class="page-main">
        <section class="genre">
            <h2 class="genre-name">Популярное</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${popular}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <!-- <form method="post">
                        <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                    </form> -->
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
        <section class="genre">
            <h2 class="genre-name">Классическая музыка</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${classic}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
        <section class="genre">
            <h2 class="genre-name">Блюз</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${blus}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
        <section class="genre">
            <h2 class="genre-name">Джаз</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${jass}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
        <section class="genre">
            <h2 class="genre-name">Рок</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${rock}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
        <section class="genre">
            <h2 class="genre-name">Метал</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${metall}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
        <section class="genre">
            <h2 class="genre-name">Хип-хоп</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${hiphop}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
        <section class="genre">
            <h2 class="genre-name">Кантри</h2>
            <ul class="disc-list">
                <li class="disc-item", th:each="disc : ${county}">
                    <a href="#" class="about-disc-link">
                        <h3 class="disc-name", th:text="${disc.name}">Bat Out of Hell</h3>
                        <img th:src="${disc.coverPath}" th:alt="${'Обложка диска ' + disc.name}" class="disc-cover" width="200" height="200">
                    </a>
                    <p class="price">
                        <span class="price-title">Цена:</span>
                        <span class="price-value" th:text="${disc.price}">123р</span>
                    </p>
                    <button class="to-cart" th:value="${disc.id}" name="id">В корзину</button>
                </li>
            </ul>
            <a href="#" class="more-genre">Показать больше</a>
        </section>
    </main>
    <script src="js/hide.js"></script>
</body>

</html>